@import url("box.css");
:root{
	--shadow-value:0 var(--size-s) var(--size-m) #0000001a;
	--size-of-round:var(--size-s);
	--size-of-sp:var(--size-m);
	--size-of-pd:var(--size-m);
	--size-of-mg:var(--size-rm);
}

/*---- Blank Space and Line ----*/
hr{
	border-style: ridge;
	margin: 1rem 0;
}
sp{
	display: block;
	position: relative;
}
sp{height: var(--size-of-sp)}
sp.px{height: var(--size-px)}
sp.xs{height: var(--size-xs)}
sp.vs{height: var(--size-vs)}
sp.s{height: var(--size-s)}
sp.m{height: var(--size-m)}
sp.rm{height: var(--size-rm)}
sp.l{height: var(--size-l)}
sp.vl{height: var(--size-vl)}
sp.xl{height: var(--size-xl)}
sp.xx{height: var(--size-xx)}
sp.xxxl{height: var(--size-xxxl)}

/*---- Margin & Padding ----*/
/*--- Margin ---*/
.no-mg{
	margin: 0 !important;
}
.margin{
	margin: var(--size-of-mg);
}
/*--- Padding ---*/
/*-- Padding Genral --*/
.no-pd{
	margin: 0 !important;
}
.padding,
.pd{padding: var(--size-of-pd)}
.padding-px,
.pd-px{padding: var(--size-px)}
.padding-xs,
.pd-xs{padding: var(--size-xs)}
.padding-vs,
.pd-vs{padding: var(--size-vs)}
.padding-s,
.pd-s{padding: var(--size-s)}
.padding-m,
.pd-m{padding: var(--size-m)}
.padding-rm,
.pd-rm{padding: var(--size-rm)}
.padding-l,
.pd-l{padding: var(--size-l)}
.padding-vl,
.pd-vl{padding: var(--size-vl)}
.padding-xl,
.pd-xl{padding: var(--size-xl)}
.padding-xx,
.pd-xx{padding: var(--size-xx)}
.padding-xxxl,
.pd-xxxl{padding: var(--size-xxxl)}

/*-- Padding Vertical Only --*/
.padding-vtc,
.pd-vtc{
	padding-bottom: var(--size-of-pd);
	padding-top: var(--size-of-pd)
}
.padding-px-vtc,
.pd-px-vtc{
	padding-bottom: var(--size-px);
	padding-top: var(--size-px)
}
.padding-xs-vtc,
.pd-xs-vtc{
	padding-bottom: var(--size-xs);
	padding-top: var(--size-xs)
}
.padding-vs-vtc,
.pd-vs-vtc{
	padding-bottom: var(--size-vs);
	padding-top: var(--size-vs)
}
.padding-s-vtc,
.pd-s-vtc{
	padding-bottom: var(--size-s);
	padding-top: var(--size-s)
}
.padding-m-vtc,
.pd-m-vtc{
	padding-bottom: var(--size-m);
	padding-top: var(--size-m)
}
.padding-rm-vtc,
.pd-rm-vtc{
	padding-bottom: var(--size-rm);
	padding-top: var(--size-rm)
}
.padding-l-vtc,
.pd-l-vtc{
	padding-bottom: var(--size-l);
	padding-top: var(--size-l)
}
.padding-vl-vtc,
.pd-vl-vtc{
	padding-bottom: var(--size-vl);
	padding-top: var(--size-vl)
}
.padding-xl-vtc,
.pd-xl-vtc{
	padding-bottom: var(--size-xl);
	padding-top: var(--size-xl)
}
.padding-xx-vtc,
.pd-xx-vtc{
	padding-bottom: var(--size-xx);
	padding-top: var(--size-xx)
}
.padding-xxxl-vtc,
.pd-xxxl-vtc{
	padding-bottom: var(--size-xxxl);
	padding-top: var(--size-xxxl)
}

/*-- Padding Horizontal Only --*/
.padding-hzt,
.pd-hzt{
	padding-left: var(--size-of-pd);
	padding-right: var(--size-of-pd);
}
.padding-px-hzt,
.pd-px-hzt{
	padding-left: var(--size-px);
	padding-right: var(--size-px)
}
.padding-xs-hzt,
.pd-xs-hzt{
	padding-left: var(--size-xs);
	padding-right: var(--size-xs)
}
.padding-vs-hzt,
.pd-vs-hzt{
	padding-left: var(--size-vs);
	padding-right: var(--size-vs)
}
.padding-s-hzt,
.pd-s-hzt{
	padding-left: var(--size-s);
	padding-right: var(--size-s)
}
.padding-m-hzt,
.pd-m-hzt{
	padding-left: var(--size-m);
	padding-right: var(--size-m)
}
.padding-rm-hzt,
.pd-rm-hzt{
	padding-left: var(--size-rm);
	padding-right: var(--size-rm)
}
.padding-l-hzt,
.pd-l-hzt{
	padding-left: var(--size-l);
	padding-right: var(--size-l)
}
.padding-vl-hzt,
.pd-vl-hzt{
	padding-left: var(--size-vl);
	padding-right: var(--size-vl)
}
.padding-xl-hzt,
.pd-xl-hzt{
	padding-left: var(--size-xl);
	padding-right: var(--size-xl)
}
.padding-xx-hzt,
.pd-xx-hzt{
	padding-left: var(--size-xx);
	padding-right: var(--size-xx)
}
.padding-xxxl-hzt,
.pd-xxxl-hzt{
	padding-left: var(--size-xxxl);
	padding-right: var(--size-xxxl)
}

/*-- Mobile Version --*/
@media (max-width: 768px) {
	.mob-padding-hzt,
	.mob-pd-hzt{
		padding-left: var(--size-of-pd);
		padding-right: var(--size-of-pd);
	}
	.mob-padding-px-hzt,
	.mob-pd-px-hzt{
		padding-left: var(--size-px);
		padding-right: var(--size-px)
	}
	.mob-padding-xs-hzt,
	.mob-pd-xs-hzt{
		padding-left: var(--size-xs);
		padding-right: var(--size-xs)
	}
	.mob-padding-vs-hzt,
	.mob-pd-vs-hzt{
		padding-left: var(--size-vs);
		padding-right: var(--size-vs)
	}
	.mob-padding-s-hzt,
	.mob-pd-s-hzt{
		padding-left: var(--size-s);
		padding-right: var(--size-s)
	}
	.mob-padding-m-hzt,
	.mob-pd-m-hzt{
		padding-left: var(--size-m);
		padding-right: var(--size-m)
	}
	.mob-padding-rm-hzt,
	.mob-pd-rm-hzt{
		padding-left: var(--size-rm);
		padding-right: var(--size-rm)
	}
	.mob-padding-l-hzt,
	.mob-pd-l-hzt{
		padding-left: var(--size-l);
		padding-right: var(--size-l)
	}
	.mob-padding-vl-hzt,
	.mob-pd-vl-hzt{
		padding-left: var(--size-vl);
		padding-right: var(--size-vl)
	}
	.mob-padding-xl-hzt,
	.mob-pd-xl-hzt{
		padding-left: var(--size-xl);
		padding-right: var(--size-xl)
	}
	.mob-padding-xx-hzt,
	.mob-pd-xx-hzt{
		padding-left: var(--size-xx);
		padding-right: var(--size-xx)
	}
	.mob-padding-xxxl-hzt,
	.mob-pd-xxxl-hzt{
		padding-left: var(--size-xxxl);
		padding-right: var(--size-xxxl)
	}

	.mob-padding-vtc,
	.mob-pd-vtc{
		padding-left: var(--size-of-pd);
		padding-right: var(--size-of-pd);
	}
	.mob-padding-px-vtc,
	.mob-pd-px-vtc{
		padding-left: var(--size-px);
		padding-right: var(--size-px)
	}
	.mob-padding-xs-vtc,
	.mob-pd-xs-vtc{
		padding-left: var(--size-xs);
		padding-right: var(--size-xs)
	}
	.mob-padding-vs-vtc,
	.mob-pd-vs-vtc{
		padding-left: var(--size-vs);
		padding-right: var(--size-vs)
	}
	.mob-padding-s-vtc,
	.mob-pd-s-vtc{
		padding-left: var(--size-s);
		padding-right: var(--size-s)
	}
	.mob-padding-m-vtc,
	.mob-pd-m-vtc{
		padding-left: var(--size-m);
		padding-right: var(--size-m)
	}
	.mob-padding-rm-vtc,
	.mob-pd-rm-vtc{
		padding-left: var(--size-rm);
		padding-right: var(--size-rm)
	}
	.mob-padding-l-vtc,
	.mob-pd-l-vtc{
		padding-left: var(--size-l);
		padding-right: var(--size-l)
	}
	.mob-padding-vl-vtc,
	.mob-pd-vl-vtc{
		padding-left: var(--size-vl);
		padding-right: var(--size-vl)
	}
	.mob-padding-xl-vtc,
	.mob-pd-xl-vtc{
		padding-left: var(--size-xl);
		padding-right: var(--size-xl)
	}
	.mob-padding-xx-vtc,
	.mob-pd-xx-vtc{
		padding-left: var(--size-xx);
		padding-right: var(--size-xx)
	}
	.mob-padding-xxxl-vtc,
	.mob-pd-xxxl-vtc{
		padding-left: var(--size-xxxl);
		padding-right: var(--size-xxxl)
	}
}

/*---- Shadow & Rounded ----*/
/*--- Shadow ---*/
.shadow{
	box-shadow:var(--shadow-value);
}
.no-shadow{
	box-shadow:none;
}
@/*-- Mobile Version --*/
@media (max-width: 768px) {
	.mob-shadow{
		box-shadow:var(--shadow-value);
	}
	.mob-no-shadow{
		box-shadow:none;
	}
}

/*--- Rounded ---*/
.round{
	border-radius: var(--size-of-round);
}
.round-px{border-radius: var(--size-px)}
.round-xs{border-radius: var(--size-xs)}
.round-vs{border-radius: var(--size-vs)}
.round-s{border-radius: var(--size-s)}
.round-m{border-radius: var(--size-m)}
.round-rm{border-radius: var(--size-rm)}
.round-l{border-radius: var(--size-l)}
.round-vl{border-radius: var(--size-vl)}
.round-xl{border-radius: var(--size-xl)}
.round-xx{border-radius: var(--size-xx)}
.round-xxxl{border-radius: var(--size-xxxl)}

.no-round{
	border-radius: 0;
}
@/*-- Mobile Version --*/
@media (max-width: 768px) {
	.mob-round{
		border-radius: var(--size-of-round);
	}
	.mob-round-px{border-radius: var(--size-px)}
	.mob-round-xs{border-radius: var(--size-xs)}
	.mob-round-vs{border-radius: var(--size-vs)}
	.mob-round-s{border-radius: var(--size-s)}
	.mob-round-m{border-radius: var(--size-m)}
	.mob-round-rm{border-radius: var(--size-rm)}
	.mob-round-l{border-radius: var(--size-l)}
	.mob-round-vl{border-radius: var(--size-vl)}
	.mob-round-xl{border-radius: var(--size-xl)}
	.mob-round-xx{border-radius: var(--size-xx)}
	.mob-round-xxxl{border-radius: var(--size-xxxl)}
	.mob-no-round{
		border-radius: 0;
	}
}

.card{
	background-color: #fff;
	border-radius: var(--size-of-round);
	padding: var(--size-rm);
}
@/*-- Mobile Version --*/
@media (max-width: 768px) {
	.mob-card{
		background-color: #fff;
		border-radius: var(--size-of-round);
		padding: var(--size-rm);
	}
}